div {
  display: block;
}

section  {
  clear: both;
  margin: 2rem 0 1rem 0;
}

footer {
  margin: 1rem;
}

.top-nav {
  display: blcok;
  overflow: hidden;
  float: right;
}

div.logo {
  clear: both;
}

.eventos > figure > img {
  display: block;
  width: 50%;
}

figurecaption {
  text-align: left;
  display: block;
}

footer > ul > li {
  list-style-type: none;
  display: inline-block;
  float: left;
}

footer > div > a {
  display: inline-block;
  margin-right: 0.5rem;
}

footer > div img {
  width: 2.8rem;
  height: auto;
}
footer > p {
  clear: both;
}